.user-guitars {
  height: 100vh;
  /* width: 30%; */
  border: 2px solid black;
}

.guitar-card {
  /* width: 250px;
  height: 250px; */
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  top: 50%;
  left: 50%;
}

.guitar-img {
  height: 150px;
  width: 140px;
  padding: 10px;
}

.guitar-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.guitar-container {
  padding: 2px 16px;
}