.hero {
  position: relative;
  z-index: -10;
}

.hero img {
  position: relative;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 55vh;
  width: 100%;
  z-index: -10;
}

.welcome {
  position: absolute;
  top: 37%;
  left: 37%;
  z-index: 10;
  height: 100px;
  width: 200px;
}

.welcome h1 {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: black;
  position: relative;
  font-size: 80px;
  bottom: 90%;
  background-color: rgba(128, 128, 128, .55);
  text-shadow: 4px 0px 2px rgba(0,0,0,0.52);
  color: whitesmoke;
  border-radius: 5%;
  width: 350px;
  height: 200px;
}

.landing-container {
  background:linear-gradient(0deg,rgba(145, 136, 120, 0.35),rgba(121, 116, 108, 0.35));
  z-index: 100;
}

.guitarImg {
  height: 230px;
  width: 230px;
}

.guitar-name {
  font-size: 20px;
}