.user-profile {
  padding: 20px;
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* min-width: 100vh;
  min-height: 100%;  */
}

.user-guitars {
  min-width: 70%;
  min-height: 70%; 
}