.market-card {
  width: 250px;
  min-height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgba(58, 44, 44, .8);
  border: 3px solid rgba(58, 44, 44, .8);
  transition: 0.3s;
  top: 50%;
  left: 50%;
  margin-bottom: 10px;
  border-radius: 5%;
  transform: translateY(10px);
  transition: 0.4s;
}

.market {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  min-height: 100%; 
}

.market-img {
  height: 230px;
  width: 230px;
  padding: 10px;
}

.market-card:hover {
  box-shadow: 10px 10px 17px 0px rgba(0,0,0,0.36);  
  transform: translateY(0px);
}


.market-container {
  background-color: whitesmoke;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  padding: 2px 16px;
}

.market-container p {
  color: rgb(58, 44, 44);
  text-shadow: 4px 0px 10px rgba(0,0,0,0.6);
  font-family: 'Montserrat', sans-serif;

}

.market-container h4 {
  color: rgba(58, 44, 44, .8);
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.market-list {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px;
}

.market-list {
  min-width: 70%;

}

