.market-card {
  width: 250px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  top: 50%;
  left: 50%;
}

.market {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.market-img {
  height: 150px;
  width: 140px;
  padding: 10px;
}

.market-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.market-container {
  padding: 2px 16px;
}