* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 30px;
  width: 100%;
}

.carousel {
  background-color: rgb(58, 44, 44);
}

.carousel-inner {
  margin-left: 100px;
}

.carousel-card {
  width: 250px;
  min-height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: rgba(159, 157, 157, 0.3);
  border-radius: 10%;
  margin-top: 10px;
  color: rgb(228, 226, 226);
}


.carousel-item .active{
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
}

.item {
  max-width: 150px;
}